a {
  color: DarkGrey;
}
.grey {
  color: DarkGray;
}
.red {
  color: crimson;
}

.credit {
  color: black;
  display: inline-block;
  background-color: GhostWhite;
  padding: 7px;
  border: 1px solid #000;
  text-align: center;
}

.c-blue {
  color: #071159;
}

.c-red {
  color: #D45214;
}

.c-orange {
  color: #F0A202;
}

.c-light-blue {
  color: #3D7BBA;
}

.smol-brain {
  font-size: 24px;
}

.brain {
  font-size: 36px;
}

.brain a {
  color: black;
}

.large-brain {
  font-size: 48px;
}

.large-brain a {
  color: black;
}

.galaxy-brain {
  font-size: 64px;
}
